pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    background: #282a36;
    font-size: 15px;
    font-weight: 500;
}

code {
    background: #282a36;
    color: #fff;
    padding: 3px;
    font-size: 15px;
    line-height: 19px;
}

code.lang-halla {
    padding: 0px;
}