.guide-directory {
    margin-top: 15px;
}

.guide-directory .directory-header {
    background-color: #fff;
    padding: 15px 15px 15px 40px;
    margin: 0;
    color: $navbarTitles;
}

ul.pages {
    background-color: #fff;
    padding-bottom: 15px;
}

.guide-directory ul {
    list-style-type: none;
    margin: 0;
}

.guide-directory a {
    color: $highlight;
    text-decoration: none;
    font-size: 18px;
}

.guide-directory li.active a {
    color: $text !important;
    text-decoration: none !important;
    cursor: default;
}

.guide-directory li a:hover {
    text-decoration: underline;
}