@import "../variables";

h1 {
    font-size: 3em;
    border-bottom: 1px solid #c4c5c6;
}

h1, h2, h3, h4, h5, h6 {
    color: $headers;
}

p {
    color: $background;
    line-height: 1.6em;
}

// for mobile viewing
@media screen and (min-width: 320px) {
    h2, h3, h4, h5, h6 {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

// for desktop/tablet viewing
@media screen and (min-width: 1000px) {
    h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    p {
        text-indent: 1em;
    }
}