.title-page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h5.main-pre-title {
    margin: -13%;
    margin-left: 3%;
    font-size: 150%;
    width: 100%;
}

h1.main-title {
    margin: 0;
    font-size: 1700%;
    width: 100%;
    text-align: justify;
    border-bottom: none;
}

h3.main-post-title {
    margin: -10%;
    margin-left: 3%;
    font-size: 195%;
    width: 100%;
}