// colors
$highlight : #ff6768;
$text : #6b778d;

$headers : $highlight;

$background : #17223b;
$lightBackground : #263859;
$highlightBackground : darken(#ff6768, 20%);

$navbarBackground : #fff;
$navbarTitles : $background;