@import "variables";
@import "title";
@import "aurora";

@import "fonts/fonts";
@import "navbar/background";
@import "navbar/index";

body {
    margin: 0px;
}

.page-content {
    position: relative;

    // size the page
    max-width: 1200px;
    min-height: 90vh;
    margin: 0 auto;
}