// Colors
$bg-color: $navbarBackground;
$dot-color: darken($navbarBackground, 15%);

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.page-header {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}