@import "../variables";

.page-header {
    padding-top: 1vw;
    width: 100vw;
}

ul.nav-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nav-tab:hover, .nav-tab.active {
    text-decoration: none;
    border-bottom: 3px solid $navbarTitles;
    padding-bottom: 10px;
}

.nav-tab:hover a, .nav-tab.active a {
    color: $navbarTitles;
}

// for mobile viewing
@media screen and (min-width: 320px) {
    .nav-tab {
        font-size: 5vw;
        margin: 0 0.75em !important;
    }
}

// for desktop/tablet viewing
@media screen and (min-width: 1000px) {
    .nav-tab {
        font-size: 2vw;
        margin: 0 1.5em !important;
    }
}

.nav-tab {
    padding-top: 13px;
    padding-bottom: 13px;
    display: inline-block;
}

.page-header a {
    color: $navbarTitles;
    text-decoration: none;
}