{% set sections = [
    { subject: "Home", link: "/" },
    { subject: "Guide", link: "/guide/intro.html" },
    { subject: "Features", link: "/features/strings.html" },
    { subject: "Source", link: "https://gitlab.com/halla-lang/halla" }
] %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Halla | {{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.min.css" crossorigin="anonymous">
    {% block header %}{% endblock %}
    {% if environment === "development" %}
      {# Use livereload server if we are in development mode. #}
      <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
  </head>
  <body>
    <div class="aurora aurora-outer">
      <div class="aurora aurora-inner"></div>
    </div>
    <div class="page-header">
      <ul class="nav-tabs">
        {% for section in sections %}
        <li class="{{"nav-tab active" if section.subject === currentSection else "nav-tab"}}">
            <a href={{ section.link }}>{{ section.subject }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="page-content container-fluid">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>