{% extends "./base.njk" %}

{% set currentSection = "Features" %}
{% set title = name %}

{% block header %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="guide-directory col-md-12 col-lg-3 col-xl-3 offset-xl-1">
        <h3 class="directory-header">Contents</h3>
        <ul class="pages">
            {% for feature in collections.features %}
            <li class="{{"active" if feature.name === name}}">
                <a href={{ "/features/" + feature.featuresPath + ".html" }}>{{ feature.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="guide-content col-md-12 col-lg-9 col-xl-6">
        <div class="guide-section">
            {% for feature in collections[featuresPath] %}
                <h3>
                    {{feature.name}}
                    {% if feature.todo %}
                        <span class="to-do">TODO</span>
                    {% endif %}
                </h3>
                
                {{ feature.contents | safe }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}