{% extends "./base.njk" %}

{% set currentSection = "Guide" %}

{% set title = subject %}

{% block header %}
{% endblock %}

{% set pages = [
    { subject: "Introduction", link: "intro" },
    { subject: "Basics", link: "basics" }
] %}

{% block body %}
<div class="row">
    <div class="guide-directory col-md-12 col-lg-3 col-xl-3 offset-xl-1">
        <h3 class="directory-header">Contents</h3>
        <ul class="pages">
            {% for page in pages %}
            <li class="{{"active" if page.subject === subject}}">
                <a href={{ "/guide/" + page.link + ".html" }}>{{ page.subject }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="guide-content col-md-12 col-lg-9 col-xl-7">
        <div class="guide-section">
            {{ contents | safe }}
        </div>
    </div>
</div>
{% endblock %}