{% extends "./base.njk" %}

{% set currentSection = "Home" %}

{% block header %}
{% endblock %}

{% block body %}
<div class="title-page">
  <h5 class="main-pre-title">Welcome to</h5>
  <h1 class="main-title">Halla</h1>
  <h3 class="main-post-title">Pure and Simple Functional Programming</h5>
</div>
{% endblock %}